body{
  align-items: center;
  display: flex;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.logo{
  width: 50%;
  border-radius:50%;
}

h1{
  color : #114d5c;
}

.signup-form{
  max-width: 350px;
  margin:auto;
  margin-top: 5px;
  padding: 20px;
}

.top{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.middle{
  border-radius:0;
}

.bottom{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -1px;
  margin-bottom: 20px;
}
